$theme-color:#4C7CFF;
$theme-color-Background-hover:rgba(24,144,255,1);
$theme-color-border-hover:rgba(24,144,255,1);
$successColor:#4AC15F;
$errorColor:#FE4A49;
$warnColor:#FED766;

$headerHeight: 50px;   // 顶部栏高度
$footerHeight: 55px;   // 底部栏高度


