.Footer {
  height: 30px;
  text-align: center;
  background: #fff;
  color: rgba(0, 0, 0, 0.60);
  padding-top: 5px;
  margin-top: 5px;
  overflow: hidden;
  box-shadow: 0 0 5px #d4d4d4;
  p {
    line-height: 20px;
    font-size: 10px;
    font-weight: 300;
    color: #939393;
    margin-bottom: 8px;
  }
}
